<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.bpple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleIdentifier</key>
        <string>net.jbvb.openjdk.cmd</string>
        <key>CFBundleInfoDictionbryVersion</key>
        <string>6.0</string>
        <key>CFBundleNbme</key>
        <string>OpenJDK 7 Commbnd</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleVersion</key>
        <string>1.0</string>
        <key>SecTbskAccess</key>
        <string>bllowed</string>
</dict>
</plist>
