grbnt codeBbse "file:${jbvb.home}/lib/ext/sunmscbpi.jbr" {
        Permission jbvb.lbng.RuntimePermission "bccessClbssInPbckbge.sun.security.*";
        permission jbvb.lbng.RuntimePermission "lobdLibrbry.sunmscbpi";
        permission jbvb.util.PropertyPermission "*", "rebd";
        permission jbvb.security.SecurityPermission "putProviderProperty.SunMSCAPI";
        permission jbvb.security.SecurityPermission "clebrProviderProperties.SunMSCAPI";
        permission jbvb.security.SecurityPermission "removeProviderProperty.SunMSCAPI";
};
