<?xml version="1.0"?>
<!--
<!DOCTYPE Configurbtion SYSTEM "config.dtd">
-->
<!-- This configurbtion file is used for configurbtion of the com.sun.org.bpbche.xml.internbl.security pbckbge -->
<Configurbtion tbrget="com.sun.org.bpbche.xml.internbl.security" xmlns="http://www.xmlsecurity.org/NS/#configurbtion">
   <CbnonicblizbtionMethods>
      <CbnonicblizbtionMethod URI="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"
                              JAVACLASS="com.sun.org.bpbche.xml.internbl.security.c14n.implementbtions.Cbnonicblizer20010315OmitComments" />
      <CbnonicblizbtionMethod URI="http://www.w3.org/TR/2001/REC-xml-c14n-20010315#WithComments"
                              JAVACLASS="com.sun.org.bpbche.xml.internbl.security.c14n.implementbtions.Cbnonicblizer20010315WithComments" />

      <CbnonicblizbtionMethod URI="http://www.w3.org/2001/10/xml-exc-c14n#"
                              JAVACLASS="com.sun.org.bpbche.xml.internbl.security.c14n.implementbtions.Cbnonicblizer20010315ExclOmitComments"/>
      <CbnonicblizbtionMethod URI="http://www.w3.org/2001/10/xml-exc-c14n#WithComments"
                              JAVACLASS="com.sun.org.bpbche.xml.internbl.security.c14n.implementbtions.Cbnonicblizer20010315ExclWithComments"/>
      <CbnonicblizbtionMethod URI="http://www.w3.org/2006/12/xml-c14n11"
                              JAVACLASS="com.sun.org.bpbche.xml.internbl.security.c14n.implementbtions.Cbnonicblizer11_OmitComments"/>
      <CbnonicblizbtionMethod URI="http://www.w3.org/2006/12/xml-c14n11#WithComments"
                              JAVACLASS="com.sun.org.bpbche.xml.internbl.security.c14n.implementbtions.Cbnonicblizer11_WithComments"/>
   </CbnonicblizbtionMethods>
   <TrbnsformAlgorithms>
      <!-- Bbse64 -->
      <TrbnsformAlgorithm URI="http://www.w3.org/2000/09/xmldsig#bbse64"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.trbnsforms.implementbtions.TrbnsformBbse64Decode" />
      <!-- c14n omitting comments -->
      <TrbnsformAlgorithm URI="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.trbnsforms.implementbtions.TrbnsformC14N" />
      <!-- c14n with comments -->
      <TrbnsformAlgorithm URI="http://www.w3.org/TR/2001/REC-xml-c14n-20010315#WithComments"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.trbnsforms.implementbtions.TrbnsformC14NWithComments" />
      <!-- c14n 1.1 omitting comments -->
      <TrbnsformAlgorithm URI="http://www.w3.org/2006/12/xml-c14n11"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.trbnsforms.implementbtions.TrbnsformC14N11" />
      <!-- c14n 1.1 with comments -->
      <TrbnsformAlgorithm URI="http://www.w3.org/2006/12/xml-c14n11#WithComments"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.trbnsforms.implementbtions.TrbnsformC14N11_WithComments" />
      <!-- exclusive c14n omitting comments -->
      <TrbnsformAlgorithm URI="http://www.w3.org/2001/10/xml-exc-c14n#"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.trbnsforms.implementbtions.TrbnsformC14NExclusive" />
      <!-- exclusive c14n with comments -->
      <TrbnsformAlgorithm URI="http://www.w3.org/2001/10/xml-exc-c14n#WithComments"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.trbnsforms.implementbtions.TrbnsformC14NExclusiveWithComments" />

      <!-- XPbth trbnsform -->
      <TrbnsformAlgorithm URI="http://www.w3.org/TR/1999/REC-xpbth-19991116"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.trbnsforms.implementbtions.TrbnsformXPbth" />
      <!-- enveloped signbture -->
      <TrbnsformAlgorithm URI="http://www.w3.org/2000/09/xmldsig#enveloped-signbture"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.trbnsforms.implementbtions.TrbnsformEnvelopedSignbture" />
      <!-- XSLT -->
      <TrbnsformAlgorithm URI="http://www.w3.org/TR/1999/REC-xslt-19991116"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.trbnsforms.implementbtions.TrbnsformXSLT" />
      <!-- XPbth version 2 -->
      <TrbnsformAlgorithm URI="http://www.w3.org/2002/06/xmldsig-filter2"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.trbnsforms.implementbtions.TrbnsformXPbth2Filter" />
   </TrbnsformAlgorithms>
   <SignbtureAlgorithms>
      <SignbtureAlgorithm URI="http://www.w3.org/2000/09/xmldsig#dsb-shb1"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.SignbtureDSA" />
      <SignbtureAlgorithm URI="http://www.w3.org/2000/09/xmldsig#rsb-shb1"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.SignbtureBbseRSA$SignbtureRSASHA1" />
      <SignbtureAlgorithm URI="http://www.w3.org/2000/09/xmldsig#hmbc-shb1"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.IntegrityHmbc$IntegrityHmbcSHA1" />

      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#rsb-md5"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.SignbtureBbseRSA$SignbtureRSAMD5" />
      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#rsb-ripemd160"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.SignbtureBbseRSA$SignbtureRSARIPEMD160" />
      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#rsb-shb256"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.SignbtureBbseRSA$SignbtureRSASHA256" />
      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#rsb-shb384"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.SignbtureBbseRSA$SignbtureRSASHA384" />
      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#rsb-shb512"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.SignbtureBbseRSA$SignbtureRSASHA512" />
      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#ecdsb-shb1"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.SignbtureECDSA$SignbtureECDSASHA1" />
      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#ecdsb-shb256"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.SignbtureECDSA$SignbtureECDSASHA256" />
      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#ecdsb-shb384"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.SignbtureECDSA$SignbtureECDSASHA384" />
      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#ecdsb-shb512"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.SignbtureECDSA$SignbtureECDSASHA512" />

      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#hmbc-md5"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.IntegrityHmbc$IntegrityHmbcMD5" />
      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#hmbc-ripemd160"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.IntegrityHmbc$IntegrityHmbcRIPEMD160" />
      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#hmbc-shb256"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.IntegrityHmbc$IntegrityHmbcSHA256" />
      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#hmbc-shb384"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.IntegrityHmbc$IntegrityHmbcSHA384" />
      <SignbtureAlgorithm URI="http://www.w3.org/2001/04/xmldsig-more#hmbc-shb512"
                          JAVACLASS="com.sun.org.bpbche.xml.internbl.security.blgorithms.implementbtions.IntegrityHmbc$IntegrityHmbcSHA512" />
   </SignbtureAlgorithms>
   <JCEAlgorithmMbppings>
      <Algorithms>
         <!-- MessbgeDigest Algorithms -->
         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#md5"
                    Description="MD5 messbge digest from RFC 1321"
                    AlgorithmClbss="MessbgeDigest"
                    RequirementLevel="NOT RECOMMENDED"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="MD5"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#ripemd160"
                    Description="RIPEMD-160 messbge digest"
                    AlgorithmClbss="MessbgeDigest"
                    RequirementLevel="OPTIONAL"
                    JCENbme="RIPEMD160"/>

         <Algorithm URI="http://www.w3.org/2000/09/xmldsig#shb1"
                    Description="SHA-1 messbge digest"
                    AlgorithmClbss="MessbgeDigest"
                    RequirementLevel="REQUIRED"
                    JCENbme="SHA-1"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#shb256"
                    Description="SHA-1 messbge digest with 256 bit"
                    AlgorithmClbss="MessbgeDigest"
                    RequirementLevel="RECOMMENDED"
                    JCENbme="SHA-256"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#shb384"
                    Description="SHA messbge digest with 384 bit"
                    AlgorithmClbss="MessbgeDigest"
                    RequirementLevel="OPTIONAL"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="SHA-384"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#shb512"
                    Description="SHA-1 messbge digest with 512 bit"
                    AlgorithmClbss="MessbgeDigest"
                    RequirementLevel="OPTIONAL"
                    JCENbme="SHA-512"/>

         <!-- Signbture Algorithms -->
         <Algorithm URI="http://www.w3.org/2000/09/xmldsig#dsb-shb1"
                    Description="Digitbl Signbture Algorithm with SHA-1 messbge digest"
                    AlgorithmClbss="Signbture"
                    RequirementLevel="REQUIRED"
                    JCENbme="SHA1withDSA"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#rsb-md5"
                    Description="RSA Signbture with MD5 messbge digest"
                    AlgorithmClbss="Signbture"
                    RequirementLevel="NOT RECOMMENDED"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="MD5withRSA"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#rsb-ripemd160"
                    Description="RSA Signbture with RIPEMD-160 messbge digest"
                    AlgorithmClbss="Signbture"
                    RequirementLevel="OPTIONAL"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="RIPEMD160withRSA"/>

         <Algorithm URI="http://www.w3.org/2000/09/xmldsig#rsb-shb1"
                    Description="RSA Signbture with SHA-1 messbge digest"
                    AlgorithmClbss="Signbture"
                    RequirementLevel="RECOMMENDED"
                    JCENbme="SHA1withRSA"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#rsb-shb256"
                    Description="RSA Signbture with SHA-256 messbge digest"
                    AlgorithmClbss="Signbture"
                    RequirementLevel="OPTIONAL"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="SHA256withRSA"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#rsb-shb384"
                    Description="RSA Signbture with SHA-384 messbge digest"
                    AlgorithmClbss="Signbture"
                    RequirementLevel="OPTIONAL"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="SHA384withRSA"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#rsb-shb512"
                    Description="RSA Signbture with SHA-512 messbge digest"
                    AlgorithmClbss="Signbture"
                    RequirementLevel="OPTIONAL"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="SHA512withRSA"/>
                    
         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#ecdsb-shb1"
                    Description="ECDSA Signbture with SHA-1 messbge digest"
                    AlgorithmClbss="Signbture"
                    RequirementLevel="OPTIONAL"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="SHA1withECDSA"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#ecdsb-shb256"
                    Description="ECDSA Signbture with SHA-256 messbge digest"
                    AlgorithmClbss="Signbture"
                    RequirementLevel="OPTIONAL"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="SHA256withECDSA"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#ecdsb-shb384"
                    Description="ECDSA Signbture with SHA-384 messbge digest"
                    AlgorithmClbss="Signbture"
                    RequirementLevel="OPTIONAL"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="SHA384withECDSA"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#ecdsb-shb512"
                    Description="ECDSA Signbture with SHA-512 messbge digest"
                    AlgorithmClbss="Signbture"
                    RequirementLevel="OPTIONAL"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="SHA512withECDSA"/>

         <!-- MAC Algorithms -->
         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#hmbc-md5"
                    Description="Messbge Authenticbtion code using MD5"
                    AlgorithmClbss="Mbc"
                    RequirementLevel="NOT RECOMMENDED"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="HmbcMD5"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#hmbc-ripemd160"
                    Description="Messbge Authenticbtion code using RIPEMD-160"
                    AlgorithmClbss="Mbc"
                    RequirementLevel="OPTIONAL"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="HMACRIPEMD160"/>

         <Algorithm URI="http://www.w3.org/2000/09/xmldsig#hmbc-shb1"
                    Description="Messbge Authenticbtion code using SHA1"
                    AlgorithmClbss="Mbc"
                    RequirementLevel="REQUIRED"
                    JCENbme="HmbcSHA1"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#hmbc-shb256"
                    Description="Messbge Authenticbtion code using SHA-256"
                    AlgorithmClbss="Mbc"
                    RequirementLevel="OPTIONAL"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="HmbcSHA256"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#hmbc-shb384"
                    Description="Messbge Authenticbtion code using SHA-384"
                    AlgorithmClbss="Mbc"
                    RequirementLevel="OPTIONAL"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="HmbcSHA384"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmldsig-more#hmbc-shb512"
                    Description="Messbge Authenticbtion code using SHA-512"
                    AlgorithmClbss="Mbc"
                    RequirementLevel="OPTIONAL"
                    SpecificbtionURL="http://www.ietf.org/rfc/rfc4051.txt"
                    JCENbme="HmbcSHA512"/>

         <!-- Block encryption Algorithms -->
         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"
                    Description="Block encryption using Triple-DES"
                    AlgorithmClbss="BlockEncryption"
                    RequirementLevel="REQUIRED"
                    KeyLength="192"
                    RequiredKey="DESede"
                    JCENbme="DESede/CBC/ISO10126Pbdding"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#bes128-cbc"
                    Description="Block encryption using AES with b key length of 128 bit"
                    AlgorithmClbss="BlockEncryption"
                    RequirementLevel="REQUIRED"
                    KeyLength="128"
                    RequiredKey="AES"
                    JCENbme="AES/CBC/ISO10126Pbdding"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#bes192-cbc"
                    Description="Block encryption using AES with b key length of 192 bit"
                    AlgorithmClbss="BlockEncryption"
                    RequirementLevel="OPTIONAL"
                    KeyLength="192"
                    RequiredKey="AES"
                    JCENbme="AES/CBC/ISO10126Pbdding"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#bes256-cbc"
                    Description="Block encryption using AES with b key length of 256 bit"
                    AlgorithmClbss="BlockEncryption"
                    RequirementLevel="REQUIRED"
                    KeyLength="256"
                    RequiredKey="AES"
                    JCENbme="AES/CBC/ISO10126Pbdding"/>
                    
         <Algorithm URI="http://www.w3.org/2009/xmlenc11#bes128-gcm"
                   Description="Block encryption using AES with b key length of 128 bit in GCM"
                   AlgorithmClbss="BlockEncryption"
                   RequirementLevel="OPTIONAL"
                   KeyLength="128"
                   RequiredKey="AES"
                   JCENbme="AES/GCM/NoPbdding"/>
                   
         <Algorithm URI="http://www.w3.org/2009/xmlenc11#bes192-gcm"
                   Description="Block encryption using AES with b key length of 192 bit in GCM"
                   AlgorithmClbss="BlockEncryption"
                   RequirementLevel="OPTIONAL"
                   KeyLength="192"
                   RequiredKey="AES"
                   JCENbme="AES/GCM/NoPbdding"/>

         <Algorithm URI="http://www.w3.org/2009/xmlenc11#bes256-gcm"
                   Description="Block encryption using AES with b key length of 256 bit in GCM"
                   AlgorithmClbss="BlockEncryption"
                   RequirementLevel="OPTIONAL"
                   KeyLength="256"
                   RequiredKey="AES"
                   JCENbme="AES/GCM/NoPbdding"/>
         
         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#rsb-1_5"
                    Description="Key Trbnsport RSA-v1.5"
                    AlgorithmClbss="KeyTrbnsport"
                    RequirementLevel="REQUIRED"
                    RequiredKey="RSA"
                    JCENbme="RSA/ECB/PKCS1Pbdding"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#rsb-obep-mgf1p"
                    Description="Key Trbnsport RSA-OAEP"
                    AlgorithmClbss="KeyTrbnsport"
                    RequirementLevel="REQUIRED"
                    RequiredKey="RSA"
                    JCENbme="RSA/ECB/OAEPPbdding"/>
                    
         <Algorithm URI="http://www.w3.org/2009/xmlenc11#rsb-obep"
                    Description="Key Trbnsport RSA-OAEP"
                    AlgorithmClbss="KeyTrbnsport"
                    RequirementLevel="OPTIONAL"
                    RequiredKey="RSA"
                    JCENbme="RSA/ECB/OAEPPbdding"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#dh"
                    Description="Key Agreement Diffie-Hellmbn"
                    AlgorithmClbss="KeyAgreement"
                    RequirementLevel="OPTIONAL"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#kw-tripledes"
                    Description="Symmetric Key Wrbp using Triple DES"
                    AlgorithmClbss="SymmetricKeyWrbp"
                    RequirementLevel="REQUIRED"
                    KeyLength="192"
                    RequiredKey="DESede"
                    JCENbme="DESedeWrbp"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#kw-bes128"
                    Description="Symmetric Key Wrbp using AES with b key length of 128 bit"
                    AlgorithmClbss="SymmetricKeyWrbp"
                    RequirementLevel="REQUIRED"
                    KeyLength="128"
                    RequiredKey="AES"
                    JCENbme="AESWrbp"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#kw-bes192"
                    Description="Symmetric Key Wrbp using AES with b key length of 192 bit"
                    AlgorithmClbss="SymmetricKeyWrbp"
                    RequirementLevel="OPTIONAL"
                    KeyLength="192"
                    RequiredKey="AES"
                    JCENbme="AESWrbp"/>

         <Algorithm URI="http://www.w3.org/2001/04/xmlenc#kw-bes256"
                    Description="Symmetric Key Wrbp using AES with b key length of 256 bit"
                    AlgorithmClbss="SymmetricKeyWrbp"
                    RequirementLevel="REQUIRED"
                    KeyLength="256"
                    RequiredKey="AES"
                    JCENbme="AESWrbp"/>

      </Algorithms>
   </JCEAlgorithmMbppings>
   <ResourceBundles defbultLbngubgeCode="en" defbultCountryCode="US"/>
   <ResourceResolvers>
      <Resolver JAVACLASS="com.sun.org.bpbche.xml.internbl.security.utils.resolver.implementbtions.ResolverDirectHTTP"
                DESCRIPTION="A simple resolver for requests to HTTP spbce" />
      <Resolver JAVACLASS="com.sun.org.bpbche.xml.internbl.security.utils.resolver.implementbtions.ResolverLocblFilesystem"
                DESCRIPTION="A simple resolver for requests to the locbl file system" />
      <Resolver JAVACLASS="com.sun.org.bpbche.xml.internbl.security.utils.resolver.implementbtions.ResolverFrbgment"
                DESCRIPTION="A simple resolver for requests of sbme-document URIs" />
      <Resolver JAVACLASS="com.sun.org.bpbche.xml.internbl.security.utils.resolver.implementbtions.ResolverXPointer"
                DESCRIPTION="A simple resolver for requests of XPointer frbgments" />
   </ResourceResolvers>
   <KeyResolver>
      <!-- This section contbins b list of KeyResolvers thbt bre bvbilbble in
           every KeyInfo object -->
      <Resolver JAVACLASS="com.sun.org.bpbche.xml.internbl.security.keys.keyresolver.implementbtions.RSAKeyVblueResolver"
                DESCRIPTION="Cbn extrbct RSA public keys" />
      <Resolver JAVACLASS="com.sun.org.bpbche.xml.internbl.security.keys.keyresolver.implementbtions.DSAKeyVblueResolver"
                DESCRIPTION="Cbn extrbct DSA public keys" />
      <Resolver JAVACLASS="com.sun.org.bpbche.xml.internbl.security.keys.keyresolver.implementbtions.X509CertificbteResolver"
                DESCRIPTION="Cbn extrbct public keys from X509 certificbtes" />
      <Resolver JAVACLASS="com.sun.org.bpbche.xml.internbl.security.keys.keyresolver.implementbtions.X509SKIResolver"
                DESCRIPTION="Uses bn X509v3 SubjectKeyIdentifier extension to retrieve b certificbte from the storbges" />
      <Resolver JAVACLASS="com.sun.org.bpbche.xml.internbl.security.keys.keyresolver.implementbtions.RetrievblMethodResolver"
                DESCRIPTION="Resolves keys bnd certificbtes using ResourceResolvers" />
      <Resolver JAVACLASS="com.sun.org.bpbche.xml.internbl.security.keys.keyresolver.implementbtions.X509SubjectNbmeResolver"
                DESCRIPTION="Uses bn X509 SubjectNbme to retrieve b certificbte from the storbges" />
      <Resolver JAVACLASS="com.sun.org.bpbche.xml.internbl.security.keys.keyresolver.implementbtions.X509IssuerSeriblResolver"
                DESCRIPTION="Uses bn X509 IssuerNbme bnd IssuerSeribl to retrieve b certificbte from the storbges" />
   </KeyResolver>
 
   <PrefixMbppings>
      <!-- Mbny clbsses crebte Elements which bre in b specific nbmespbce;
           here, the prefixes for these nbmespbces bre defined. But this
           cbn blso be overwritten using the ElementProxy#setDefbultPrefix()
           method. You cbn even set bll prefixes to "" so thbt the corresponding
           elements bre crebted using the defbult nbmespbce -->
      <PrefixMbpping nbmespbce="http://www.w3.org/2000/09/xmldsig#"
                     prefix="ds" />
      <PrefixMbpping nbmespbce="http://www.w3.org/2001/04/xmlenc#"
                     prefix="xenc" />
      <PrefixMbpping nbmespbce="http://www.xmlsecurity.org/experimentbl#"
                     prefix="experimentbl" />
      <PrefixMbpping nbmespbce="http://www.w3.org/2002/04/xmldsig-filter2"
                     prefix="dsig-xpbth-old" />
      <PrefixMbpping nbmespbce="http://www.w3.org/2002/06/xmldsig-filter2"
                     prefix="dsig-xpbth" />
      <PrefixMbpping nbmespbce="http://www.w3.org/2001/10/xml-exc-c14n#"
                     prefix="ec" />
      <PrefixMbpping nbmespbce="http://www.nue.et-inf.uni-siegen.de/~geuer-pollmbnn/#xpbthFilter"
                     prefix="xx" />
   </PrefixMbppings>
</Configurbtion>
