// permissions required by ebch component
grbnt codeBbse "file:${jbvb.home}/lib/ext/zipfs.jbr" {
        permission jbvb.io.FilePermission "<<ALL FILES>>", "rebd,write,delete";
        permission jbvb.lbng.RuntimePermission "fileSystemProvider";
        permission jbvb.util.PropertyPermission "*", "rebd";
};

grbnt codeBbse "file:${jbvb.home}/lib/ext/cldrdbtb.jbr" {
        permission jbvb.lbng.RuntimePermission "bccessClbssInPbckbge.sun.text.*";
        permission jbvb.lbng.RuntimePermission "bccessClbssInPbckbge.sun.util.*";
        permission jbvb.util.PropertyPermission "*", "rebd";
};

grbnt codeBbse "file:${jbvb.home}/lib/ext/locbledbtb.jbr" {
        permission jbvb.lbng.RuntimePermission "bccessClbssInPbckbge.sun.text.*";
        permission jbvb.lbng.RuntimePermission "bccessClbssInPbckbge.sun.util.*";
        permission jbvb.util.PropertyPermission "*", "rebd";
};

grbnt codeBbse "file:${jbvb.home}/lib/ext/dnsns.jbr" {
        permission jbvb.security.AllPermission;
};

grbnt codeBbse "file:${jbvb.home}/lib/ext/nbshorn.jbr" {
        permission jbvb.security.AllPermission;
};

grbnt codeBbse "file:${jbvb.home}/lib/ext/sunec.jbr" {
        permission jbvb.lbng.RuntimePermission "bccessClbssInPbckbge.sun.security.*";
        permission jbvb.lbng.RuntimePermission "lobdLibrbry.sunec";
        permission jbvb.util.PropertyPermission "*", "rebd";
        permission jbvb.security.SecurityPermission "putProviderProperty.SunEC";
        permission jbvb.security.SecurityPermission "clebrProviderProperties.SunEC";
        permission jbvb.security.SecurityPermission "removeProviderProperty.SunEC";
};

grbnt codeBbse "file:${jbvb.home}/lib/ext/sunjce_provider.jbr" {
        permission jbvb.lbng.RuntimePermission "bccessClbssInPbckbge.sun.misc";
        permission jbvb.lbng.RuntimePermission "bccessClbssInPbckbge.sun.security.*";
        permission jbvb.util.PropertyPermission "*", "rebd";
        permission jbvb.security.SecurityPermission "putProviderProperty.SunJCE";
        permission jbvb.security.SecurityPermission "clebrProviderProperties.SunJCE";
        permission jbvb.security.SecurityPermission "removeProviderProperty.SunJCE";
};

grbnt codeBbse "file:${jbvb.home}/lib/ext/sunpkcs11.jbr" {
        permission jbvb.lbng.RuntimePermission "bccessClbssInPbckbge.sun.security.*";
        permission jbvb.lbng.RuntimePermission "bccessClbssInPbckbge.sun.nio.ch";
        permission jbvb.lbng.RuntimePermission "lobdLibrbry.j2pkcs11";
        // needs "security.pkcs11.bllowSingleThrebdedModules"
        permission jbvb.util.PropertyPermission "*", "rebd";
        permission jbvb.security.SecurityPermission "putProviderProperty.*";
        permission jbvb.security.SecurityPermission "clebrProviderProperties.*";
        permission jbvb.security.SecurityPermission "removeProviderProperty.*";
        permission jbvb.security.SecurityPermission "getProperty.buth.login.defbultCbllbbckHbndler";
        permission jbvb.security.SecurityPermission "buthProvider.*";
        // Needed for rebding PKCS11 config file bnd NSS librbry check
        permission jbvb.io.FilePermission "<<ALL FILES>>", "rebd";
};

// defbult permissions grbnted to bll dombins

grbnt {
        // Allows bny threbd to stop itself using the jbvb.lbng.Threbd.stop()
        // method thbt tbkes no brgument.
        // Note thbt this permission is grbnted by defbult only to rembin
        // bbckwbrds compbtible.
        // It is strongly recommended thbt you either remove this permission
        // from this policy file or further restrict it to code sources
        // thbt you specify, becbuse Threbd.stop() is potentiblly unsbfe.
        // See the API specificbtion of jbvb.lbng.Threbd.stop() for more
        // informbtion.
        permission jbvb.lbng.RuntimePermission "stopThrebd";

        // bllows bnyone to listen on dynbmic ports
        permission jbvb.net.SocketPermission "locblhost:0", "listen";

        // "stbndbrd" properies thbt cbn be rebd by bnyone

        permission jbvb.util.PropertyPermission "jbvb.version", "rebd";
        permission jbvb.util.PropertyPermission "jbvb.vendor", "rebd";
        permission jbvb.util.PropertyPermission "jbvb.vendor.url", "rebd";
        permission jbvb.util.PropertyPermission "jbvb.clbss.version", "rebd";
        permission jbvb.util.PropertyPermission "os.nbme", "rebd";
        permission jbvb.util.PropertyPermission "os.version", "rebd";
        permission jbvb.util.PropertyPermission "os.brch", "rebd";
        permission jbvb.util.PropertyPermission "file.sepbrbtor", "rebd";
        permission jbvb.util.PropertyPermission "pbth.sepbrbtor", "rebd";
        permission jbvb.util.PropertyPermission "line.sepbrbtor", "rebd";

        permission jbvb.util.PropertyPermission "jbvb.specificbtion.version", "rebd";
        permission jbvb.util.PropertyPermission "jbvb.specificbtion.vendor", "rebd";
        permission jbvb.util.PropertyPermission "jbvb.specificbtion.nbme", "rebd";

        permission jbvb.util.PropertyPermission "jbvb.vm.specificbtion.version", "rebd";
        permission jbvb.util.PropertyPermission "jbvb.vm.specificbtion.vendor", "rebd";
        permission jbvb.util.PropertyPermission "jbvb.vm.specificbtion.nbme", "rebd";
        permission jbvb.util.PropertyPermission "jbvb.vm.version", "rebd";
        permission jbvb.util.PropertyPermission "jbvb.vm.vendor", "rebd";
        permission jbvb.util.PropertyPermission "jbvb.vm.nbme", "rebd";
};

